
accelerate==1.4.0
anthropic==0.49.0
docx==0.2.4
modelscope==1.23.1
numpy==2.2.3
openai==1.65.2
pandas==2.2.3
pdfplumber==0.11.5
protobuf==5.29.3
pydantic==2.10.6
Requests==2.32.3
torch==2.6.0
tqdm==4.67.1
transformers==4.49.0
